<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>基础数学课程学习网站</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon"/> 
    <link rel="stylesheet" href="/math/static/bootstrap.min.css">

    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
  </head>
  <body>
    <div id="app">
    </div>
    <script type='text/javascript' src='/math/static/zepto.min.js' charset='utf-8'></script>
    <script type="text/javascript">
    $.config = {
      router: false
    }
    </script>
    <script type='text/javascript' src='/math/static/jquery.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/math/static/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/math/static/bootstrap.min.js' charset='utf-8'></script>
    <script src="/math/static/vue-strap.min.js"></script>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry%}"></script>
    {% } %}
  </body>
</html>
